<!doctype html>
<html ng-app="fontTester" ng-controller="mainController">
<head>
	<title>Google Font Tester</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
	<link rel="manifest" href="images/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="images/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<script src="app/js/angular.min.js"></script>
	<script src="app/js/angular-sanitize.min.js"></script>
  <script src="app/controllers/mainController.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:900italic,700,500,300,100,400' rel='stylesheet' type='text/css'>
  <link ng-repeat="(element, prop) in elements" ng-if="prop.font" ng-href="{{ getUrl(prop.font) }}" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<style type="text/css" ng-repeat="(element, prop) in elements">
		{{ prop.cssClasses }}{
			font-family: {{ prop.font }};
			font-weight: {{ prop.weight }};
			font-style: {{ prop.italics }};
	</style>
</head>
<body>
	<div class="header">
		<div class="container">
			<h1><img class="logo" src="images/google.png" alt="Google" /><div> Font Tester</div></h1>
		</div>
	</div>
	<div class="mainSection">
		<div class="container">
		  <div class="leftBar">
				<div class="info">
					<i class="fa fa-info-circle desktop" ng-mouseover="showInfo = true" ng-mouseleave="showInfo = false"></i>
					<i class="fa fa-info-circle mobile" ng-click="showInfo = !showInfo"></i>
					<div class="infoText" ng-show="showInfo">
						<h3>Tips</h3>
						<p>Click in a box and start typing to quickly narrow down your search.</p>
						<p>Click in a box and use the up/down arrow keys to easily preview fonts.</p>
						<p>Use Headers to change all headers. Use H1, H2, and H3 to override headers individually.</p>
						<p>Click the "Edit" icon in the text area to change the content. You can also copy and paste your own HTML into the box.</p>
					</div>
				</div>
				<form class="element" ng-repeat="(element, prop) in elements">
					<h2>{{ element }}</h2>
					<select name="font" class="fontSelector" ng-model="prop.font">
						<option ng-repeat="name in defaultFonts">{{ name }}</option>
						<option value="">----</option>
						<option ng-repeat="name in fontItems">{{ name.family }}</option>
					</select><br />
					<label for="weight">Weight:</label>
					<select name="weight" ng-model="prop.weight">
						<option ng-repeat="weight in fontWeights">{{ weight }}</option>
					</select>
					<input type="checkbox" name="italics" ng-model="prop.italics" ng-true-value="'italic'" ng-false-value="'normal'"><label for="italics">Italicized</label>
				</form>
		  </div>
			<div class="mainContent" ng-mouseover="showEditIcon = true" ng-mouseleave="showEditIcon = false">
				<div class="fontBox" ng-hide="showEditor" ng-bind-html="fillerText">
				</div>
				<textarea class="fontBox" ng-show="showEditor" ng-model="fillerText">
				</textarea>
				<div class="editIcon">
					<span><i class="fa fa-pencil edit" ng-hide="showEditor" ng-click="showEditor = true"></i></span>
					<i class="fa fa-times" ng-show="showEditor" ng-click="showEditor = false"></i>
				</div>
		  </div>
			<div>{{ fontList }}</div>
		</div>
		<div class="clear"></div>
	</div><!--/.container -->
</body>
</html>
