<!doctype html>
<html ng-app="fontTester" ng-controller="mainController">
<head>
	<script src="app/js/angular.min.js"></script>
	<script src="app/js/angular-sanitize.min.js"></script>
  <script src="app/controllers/mainController.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:900italic,700,500,300,100,400' rel='stylesheet' type='text/css'>
  <link ng-repeat="(element, prop) in elements" ng-if="prop.font" ng-href="{{ getUrl(prop.font) }}" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<style type="text/css" ng-repeat="(element, prop) in elements">
		{{ prop.cssClasses }}{
			font-family: {{ prop.font }};
			font-weight: {{ prop.weight }};
			font-style: {{ prop.italics }};
			color: {{ prop.color }};
	</style>
</head>
<body>
	<div class="header">
		<div class="container">
			<h1><img class="logo" src="images/google.png" alt="Google" /><div> Font Tester</div></h1>
		</div>
	</div>
	<div class="mainSection">
		<div class="container">
		  <div class="leftBar">
				<form class="element" ng-repeat="(element, prop) in elements">
					<h2>{{ element }}</h2>
					<select name="font" class="fontSelector" ng-model="prop.font">
						<option ng-repeat="name in defaultFonts">{{ name }}</option>
						<option value="">----</option>
						<option ng-repeat="name in fontItems">{{ name.family }}</option>
					</select><br />
					<label for="weight">Weight:</label>
					<select name="weight" ng-model="prop.weight">
						<option ng-repeat="weight in fontWeights">{{ weight }}</option>
					</select>
					<input type="checkbox" name="italics" ng-model="prop.italics" ng-true-value="'italic'" ng-false-value="'normal'"><label for="italics">Italicized</label>
				</form>
		  </div>
			<div class="mainContent" ng-mouseover="showEditIcon = true" ng-mouseleave="showEditIcon = false">
				<div class="fontBox" ng-hide="showEditor" ng-bind-html="fillerText">
				</div>
				<textarea class="fontBox" ng-show="showEditor" ng-model="fillerText">
				</textarea>
				<div class="editIcon">
					<span ng-show="showEditIcon"><i class="fa fa-pencil" ng-hide="showEditor" ng-click="showEditor = true"></i></span>
					<i class="fa fa-times" ng-show="showEditor" ng-click="showEditor = false"></i>
				</div>
		  </div>
			<div>{{ fontList }}</div>
		</div>
		<div class="clear"></div>
	</div><!--/.container -->
</body>
</html>
